In [1]:
import time

In [2]:
ticks=time.time()

In [3]:
ticks

1583138355.7710404

In [14]:
#Converting to local time

x=time.localtime()
x

time.struct_time(tm_year=2020, tm_mon=3, tm_mday=2, tm_hour=14, tm_min=14, tm_sec=55, tm_wday=0, tm_yday=62, tm_isdst=0)

In [12]:
time.asctime()

'Mon Mar  2 14:14:25 2020'

In [10]:
#cpu time
time.clock()

45.6948177

In [11]:
#with secs
time.ctime()

'Mon Mar  2 14:14:04 2020'

In [16]:
#time.sleep
print(time.ctime())
time.sleep(6)
print(time.ctime())

Mon Mar  2 14:16:22 2020
Mon Mar  2 14:16:28 2020

In [18]:
#converting tuple to floating point ticks
time.mktime(time.localtime())

1583138994.0

In [19]:
#converting string to time tuple
struct_time = time.strptime("30 Nov 00", "%d %b %y")
struct_time

time.struct_time(tm_year=2000, tm_mon=11, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=335, tm_isdst=-1)

In [28]:
#converting timetuple to a string in desired format
t = (2009, 2, 17, 17, 3, 38, 1, 48, 0)
t=time.mktime(t)
struct_time = time.strftime("%b %d %Y %H:%M:%S",time.localtime(t))
struct_time

'Feb 17 2009 17:03:38'

In [31]:
import calendar
cal = calendar.month(2008, 1)
print(cal)

    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [32]:
import datetime

In [41]:
#getting current datetime
x=datetime.datetime.now()

In [34]:
x

datetime.datetime(2020, 3, 2, 14, 31, 26, 714243)

In [35]:
x.year

2020

In [36]:
x.month

3

In [38]:
x.day

2

In [40]:
x.time()

datetime.time(14, 31, 26, 714243)

In [43]:
#getting current date
datetime.date.today()

datetime.date(2020, 3, 2)

In [46]:
#creating a date
datetime.date(2019,12,15)

datetime.date(2019, 12, 15)

In [50]:
#creating time(hour, minute and second)
a = datetime.time(11, 34, 56)
a

datetime.time(11, 34, 56)

In [51]:
print("hour =", a.hour)
print("minute =", a.minute)
print("second =", a.second)
print("microsecond =", a.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 0

In [54]:
#Time Delta
from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", abs(t6))

t3 = 201 days, 0:00:00
t6 = 332 days, 22:45:40